"*":
  editor:
    fontFamily: "Source Code Pro"
    preferredLineLength: 100
    invisibles: {}
    autoIndentOnPaste: false
    showIndentGuide: true
    fontSize: 12
  core:
    ignoredNames: [
      "tags"
      "__history"
      "*.map"
      "*.dcu"
      "*.~dpr"
      "*.~dpk"
      "*.~pas"
      "*.~dfm"
      "*.exe"
      "*.dfm"
      "*.bpl"
      "*.dcp"
      "*.dsk"
      "*.tds"
      "*.pdf"
      "Thumbs.db"
      "*.dll"
      "*.fbl7"
      "*.fb7lck"
      "*.fbpInf"
      "*.obj"
      "*.OBJ"
      "*.zip"
      "*.pyd"
      ".DS_Store"
      "._.DS_Store"
    ]
    disabledPackages: [
      "archive-view"
      "atom-dark-syntax"
      "atom-dark-ui"
      "atom-light-syntax"
      "atom-light-ui"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autosave"
      "background-tips"
      "base16-tomorrow-dark-theme"
      "base16-tomorrow-light-theme"
      "date"
      "deprecation-cop"
      "exception-reporting"
      "file-types"
      "git-diff"
      "highlight-line"
      "image-view"
      "incompatible-packages"
      "keybinding-resolver"
      "language-batchfile"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-diff"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-todo"
      "language-toml"
      "language-yaml"
      "linter-coffeelint"
      "markdown-pdf"
      "markdown-scroll-sync"
      "metrics"
      "one-light-syntax"
      "one-light-ui"
      "open-on-github"
      "package-cop"
      "package-generator"
      "pretty-json"
      "regex-railroad-diagram"
      "release-notes"
      "solarized-dark-syntax"
      "solarized-light-syntax"
      "sort-lines"
      "spell-check"
      "Sublime-Style-Column-Selection"
      "symbol-gen"
      "tabularize"
      "timecop"
      "update-package-dependencies"
      "welcome"
      "whitespace"
      "wrap-selection"
      "asciidoc-preview"
      "markdown-preview"
      "tool-bar-main"
      "flex-tool-bar"
      "tool-bar"
      "minimap"
      "linter"
      "dev-live-reload"
      "link"
      "styleguide"
      "language-coffee-script"
      "language-css"
      "language-java"
      "language-javascript"
      "language-less"
      "language-json"
      "linter-less"
      "linter-csslint"
    ]
    fileEncoding: "windows1252"
    themes: [
      "code-dark-ui"
      "monokai"
    ]
  welcome:
    showOnStartup: false
  linter: {}
  "highlight-selected":
    onlyHighlightWholeWords: true
  "project-manager":
    sortBy: "group"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "highlight-line":
    enableSelectionBorder: true
  "markdown-preview": {}
  finalbuilder:
    installPath: "C:\\Program Files\\FinalBuilder 7"
  "markdown-pdf": {}
  "asciidoctor-preview": {}
  "autocomplete-plus": {}
  "web-browser": {}
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "asciidoc-preview":
    showToc: false
    showNumberedHeadings: false
    grammars: [
      "source.asciidoc"
    ]
  "tool-bar":
    position: "Left"
  "flex-tool-bar": {}
  "package-switch":
    SaveRestore: true
    SaveData: [
      "archive-view"
      "atom-dark-syntax"
      "atom-dark-ui"
      "atom-light-syntax"
      "atom-light-ui"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autosave"
      "background-tips"
      "base16-tomorrow-dark-theme"
      "base16-tomorrow-light-theme"
      "date"
      "deprecation-cop"
      "exception-reporting"
      "file-types"
      "git-diff"
      "highlight-line"
      "image-view"
      "incompatible-packages"
      "keybinding-resolver"
      "language-batchfile"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-diff"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-todo"
      "language-toml"
      "language-yaml"
      "linter-coffeelint"
      "markdown-pdf"
      "markdown-scroll-sync"
      "metrics"
      "one-light-syntax"
      "one-light-ui"
      "open-on-github"
      "package-cop"
      "package-generator"
      "pretty-json"
      "regex-railroad-diagram"
      "release-notes"
      "solarized-dark-syntax"
      "solarized-light-syntax"
      "sort-lines"
      "spell-check"
      "Sublime-Style-Column-Selection"
      "symbol-gen"
      "tabularize"
      "timecop"
      "update-package-dependencies"
      "welcome"
      "whitespace"
      "wrap-selection"
      "asciidoc-preview"
      "markdown-preview"
      "tool-bar-main"
      "flex-tool-bar"
      "tool-bar"
      "minimap"
      "linter"
      "dev-live-reload"
      "link"
      "styleguide"
      "language-coffee-script"
      "language-css"
      "language-java"
      "language-javascript"
      "language-less"
      "language-json"
      "linter-less"
      "linter-csslint"
    ]
  "linter-javac":
    javaExecutablePath: "C:\\Program Files\\Java\\jdk1.7.0_79\\bin"
  "status-bar":
    cursorPositionFormat: "Ln %L, Col %C"
    selectionCountFormat: "(%S selected)"
  "one-dark-ui": {}
".html.jsp.text":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 80
".junit-test-report.text":
  editor:
    preferredLineLength: 100
".java-properties.source":
  editor:
    preferredLineLength: 100
".java.source":
  editor:
    preferredLineLength: 100
".coffee.source":
  editor:
    preferredLineLength: 100
".litcoffee.source":
  editor:
    preferredLineLength: 100
".pascal.source":
  editor:
    preferredLineLength: 100
