"*":
  "asciidoc-preview":
    grammars: [
      "source.asciidoc"
    ]
    showNumberedHeadings: false
    showToc: false
  "asciidoctor-preview": {}
  "atom-typescript": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "tool-bar-main"
    ]
    fileEncoding: "windows1252"
    followSymlinks: false
    ignoredNames: [
      "tags"
      "__history"
      "*.map"
      "*.dcu"
      "*.~dpr"
      "*.~dpk"
      "*.~pas"
      "*.~dfm"
      "*.exe"
      "*.dfm"
      "*.bpl"
      "*.dcp"
      "*.dsk"
      "*.tds"
      "*.pdf"
      "Thumbs.db"
      "*.dll"
      "*.fbl7"
      "*.fb7lck"
      "*.fbpInf"
      "*.obj"
      "*.OBJ"
      "*.zip"
      "*.pyd"
      ".DS_Store"
      "._.DS_Store"
    ]
    themes: [
      "code-dark-ui"
      "code-dark-syntax"
    ]
  deprecated:
    tool:
      npmapm: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "71102041-c109-70bd-5451-7fd26f6e186e"
  finalbuilder:
    installPath: "c:\\program files\\microsoft vs code"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "flex-tool-bar": {}
  "highlight-line":
    enableSelectionBorder: true
  "highlight-selected":
    onlyHighlightWholeWords: true
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-javac":
    javaExecutablePath: "C:\\Program Files\\Java\\jdk1.7.0_79\\bin"
  "linter-jshint": {}
  "markdown-pdf": {}
  "markdown-preview": {}
  "one-dark-ui": {}
  "package-switch": {}
  "project-manager":
    sortBy: "group"
  "status-bar":
    cursorPositionFormat: "Ln %L, Col %C"
    selectionCountFormat: "(%S selected)"
  "tagged-comment":
    lastEnteredText: "teste 0.3.2"
    lastTag: "12/01/2016 - EU: teste 0.3.2"
    tagString: "#day/#month/#year - EU: #enteredText"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "web-browser": {}
  welcome:
    showOnStartup: false
".cake.source":
  editor:
    preferredLineLength: 100
".coffee.source":
  editor:
    preferredLineLength: 100
".cs.source":
  editor:
    preferredLineLength: 100
".csx.source":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 80
".html.jsp.text":
  editor:
    preferredLineLength: 100
".java-properties.source":
  editor:
    preferredLineLength: 100
".java.source":
  editor:
    preferredLineLength: 100
".json.source":
  editor:
    preferredLineLength: 100
".junit-test-report.text":
  editor:
    preferredLineLength: 100
".litcoffee.source":
  editor:
    preferredLineLength: 100
".nant-build.source":
  editor:
    preferredLineLength: 100
".pascal.source":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
".source.tsx":
  editor:
    preferredLineLength: 100
